<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="{{ url_for('static',filename='script.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/script.js"></script>


  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
  <link rel="stylesheet" href="/static/css/styles.css">

  <title>Flask Robot Controller</title>
</head>

<body>
  <div class="container">
      <div class="banner">
          <div>Robot Controller</div>
      </div>
      <div class="container video">
            <img src="{{ url_for('video_feed') }}">
      </div>
        <div class="set dark">
          <nav class="d-pad">
            <a class="up control" data-direction="1"></a>
            <a class="right control" data-direction="3"></a>
            <a class="down control" data-direction="2"></a>
            <a class="left control" data-direction="4"></a>
          </nav>
        </div>
  </div>
</body>

</html>